@page "/create-telegram-alert-behaviour"
@attribute [Authorize]
@using Syncfusion.Blazor.Inputs
@using Syncfusion.Blazor.DropDowns
@using Syncfusion.Blazor.Cards
@using Microsoft.AspNetCore.Components
@using Syncfusion.Blazor.Navigations
@inject PortfolioHttpClient PortfolioHttpClient
@inject NavigationManager NavigationManager

<SfCard Orientation="CardOrientation.Vertical">
    <CardHeader>
        <div class="CustomHeader">Add New Telegram Alert Behaviour</div></CardHeader>
    
    <EditForm Model="@_behaviourTypes"  OnValidSubmit="@HandleValidSubmit" >
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label class="label" for="alert" >Alerts  : </label>
                         
        <InputSelect id="alert" @bind-Value="_alertBehaviour.TelegramAlertId" >
            <option value="0">Select an Alert</option>
            @foreach (var c  in _alerts)
            {
                <option value="@c.TelegramAlertId">@c.AlertName</option>
            }
        </InputSelect>
                         
        <InputSelect id="behaviour" @bind-Value="_alertBehaviour.TelegramAlertBehaviourTypeId" >
            <option value="0">Select a Behaviour</option>
            @foreach (var c  in _behaviourTypes)
            {
                <option value="@c.Id">@c.Name</option>
            }
        </InputSelect>
        <br/>
        <SfNumericTextBox TValue="int"   Placeholder="Time Span (secs)" FloatLabelType="@FloatLabelType.Auto" @bind-Value="_alertBehaviour.TimeSpan"/>
        <br/>
        <SfButton Type="submit">OK</SfButton>
                   
    </EditForm>
</SfCard>

@code {

    private List<TelegramAlertDTO> _alerts = new();
    private List<TelegramAlertBehaviourTypeDTO> _behaviourTypes = new();
    private TelegramAlertBehaviourDTO _alertBehaviour = new ();

    protected override async Task OnInitializedAsync()
    {
        _alerts = await PortfolioHttpClient.GetTelegramAlerts();
        _behaviourTypes = await PortfolioHttpClient.GetTelegramAlertBehaviourTypes();
    }

    public async Task HandleValidSubmit()
    {
        await PortfolioHttpClient.CreateTelegramAlertBehaviour(_alertBehaviour);
        NavigationManager.NavigateTo("list-telegram-alert-behaviours");
    }

}

<style  type="text/css" class="cssStyles"> 
    .label {
        background-color: lightgrey;
        color: black;
    }
    .e-grid .e-altrow {
        background-color: #aaaaaa;
    }
    .CustomHeader, 
    .e-card .e-card-header .e-card-header-caption:first-child { 
        padding-left: 0%; 
        
    } 

    
 
    .lower {
        background-color: red;
    }

    .higher {
        background-color: green;
    }

    .same {
        background-color: orange
    }

    .e-grid .e-headercell { 
        background-color: #36486b; 
    } 
  
    .e-headercell {         
        color: white;
        background-color: black;
        
        font-size: 40px;
        font-weight: bold; 
    }

    .e-grid .e-rowcell {
        font-size: 26px;
        padding-bottom: 3px;
        padding-top: 3px;
    }

    .e-headercelldiv {
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 6px;
        padding-top: 6px;
        background-color: black;
    }
    
    .e-custom {
        border-radius: 0;
        height: 30px;
        width: 80px;
    }

    .e-custom, .e-custom:hover, .e-custom:focus, .e-custom:active {
        background-color: #ff6e40;
        color: #fff;
        font-size: 1.0rem; 
        font-weight: bold;
    }
</style>

